.menu-bar{
    width: 22%; 
    height: 100%;
    min-height: 100vh;
    position: fixed;
    display: inline-flex;
}
.title{
    padding-left: 10px;
    font-size: 26px;
    font-family: 'Orbitron';
    color: #ffff;
}
.nav-menu{
    li:hover{
        background-color: #0a5acf !important;
        border-radius: 4px;
        a{
            color: #ffff !important;
            padding-left: 25px;
        }
    }
}
.nav-menu-item{
    a{
        label{
            padding-left: 10px;
            font-size: 16px;
            font-family: 'Orbitron';
        }
    }
}
.menu-header{
    background-color:#212529;
    height: 90px;
    margin-left: 22%;
    width: 78%;
    position: fixed;
    display: inline-block;
    span{
        padding: 28px;
        position: absolute;
    }
}
.menu-body{
    min-height: 100vh;
    margin-left: 22%;
    padding: 10px;
    width: 78%;
    padding-top: 85px;
    background-color: white;
}