<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="th-width">
                <div class="selct-all">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                  </div>
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                <span>myntra</span>
            </th>
            <td>Your order has been succesfully delivered...</td>


        </tr>
        <tr>
            <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                <span>filpcart</span>
            </th>
            <td>Your order has been succesfully delivered...</td>


        </tr>
        <tr>
            <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                <span>amazone</span>
            </th>
            <td>Your order has been succesfully delivered...</td>


        </tr>
    </tbody>
</table>