.select-all{
    height: 36px;
    padding: 11px;
}

span{
    margin-left: 5px;
    
}
.form-check-input {
    margin-top: 6px;
}
.form-check-all-input{
    margin-top: 10px;
}
.inbox-header{
    padding: 10px;
    height: 45px;
}
.inbox-header-btn{
    margin-left: 10px;
}