<div class="input-group mb-3 to-input">
    <span class="input-group-text" id="basic-addon1">To</span>
    <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" required>
</div>    
<div class="input-group mb-3 to-input">
    <span class="input-group-text" id="basic-addon1">Subject</span>
    <input type="text" class="form-control" placeholder="Subject" aria-label="Username" aria-describedby="basic-addon1" required>
</div>    
<div class="form-floating mb-3 to-input">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Message.....</label>
  </div>
  <div class="input-group mb-3 to-input">
    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  </div>
  <div class="input-group mb-3 to-input">
    <button class="btn btn-primary" type="button">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        send
      </button>
  </div>
  